
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rachel's Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="projects.js" defer></script>


</head>
<body>
    <header>

        <div class="container">
          <div class="logo-box">
            <a href="/">
              <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601085399/Screen_Shot_2020-09-25_at_9.56.16_PM_zc3uhz.png" width="100px" height="90px">
              <!-- <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601236485/kisspng-vue-js-javascript-library-angularjs-react-vue-js-5b4ebe1bc45884.1915769815318871318042_mzjval.jpg" width="100px" height="90px" alt=""> -->
            </a>
          </div>
          <nav>
          <ul>
            
            <li><a href="index.html">About Me</a></li>
            <li><a href="projects.html">Projects & Skills </a></li>
            <li><a href="contact.html">Contact Me</a></li>
         </ul>
        </nav>
        </div>
      </header>
      <h1 class="pageHeader">Projects & Skills</h1>
      <div id="myProjects" class="projects">
        <!-- <h3>Projects & Skills</h3> -->
    
        <div class="skillsIcons">
            <!-- <img class="dev-icons" src="https://res.cloudinary.com/nsh/image/upload/v1594930764/jscsshtml_wmvhci.jpg" width="400px" height="200px" > -->
            <!-- <img class="dev-icons" src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601175666/Screen_Shot_2020-09-26_at_11.00.47_PM_xafd7d.png" width="400px" height="600px" alt="">
            <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601236485/kisspng-vue-js-javascript-library-angularjs-react-vue-js-5b4ebe1bc45884.1915769815318871318042_mzjval.jpg" width="100px" height="90px" alt="">
            -->
            <div class="skills">
                
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253910/Daco_4644573_uzg8ur.png" alt=""></p>
            </div>

            <div class="skills">
              
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601258925/pngegg_1_ulxmdp.png" alt=""></p>
            </div>

            <div class="skills">
                
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601254003/pngegg_pgkmmj.png"  alt="">
            </div>
            <div class="skills">
               
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601249263/Screen_Shot_2020-09-26_at_10.48.40_PM_o60fgg.png" alt="">
            </div>
            <div class="skills">
                
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601254560/Screen_Shot_2020-09-26_at_10.48.28_PM_tnzcdm.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253187/pngwing.com_q7am4o.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253179/pngkey.com-css3-logo-png-1415392_yokm1l.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253170/PngItem_255601_lk2uqc.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253133/kisspng-javascript-logo-html-comment-blog-5ae63c23139110.5436874015250381150802_i6df1z.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253152/kisspng-node-js-javascript-web-application-express-js-comp-5ae0f84e5e7537.0464945815246930703869_1_akwpt0.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601257394/heroku_ptltmi.jpg" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253142/kisspng-mongodb-database-nosql-postgresql-mongo-5b39f9e36b1814.0344731115305261794387_xoz4kh.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253116/kisspng-bootstrap-responsive-web-design-web-development-lo-5af676c0755361.6918533815261016964806_kv10ji.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253125/kisspng-django-python-computer-icons-logo-portable-network-django-python-recruitment-task-1-5b6748f386f486.9191155715334955395528_wxkmqg.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253101/hiclipart.com_ul5sjx.png" alt="">
            </div>
            <div class="skills">
                 <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253073/mongo_xhhci7.jpg" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253091/google-summer-of-code-organization-python-software-foundation-205853_oysaao.png" alt="">
            </div>
            
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253048/api-development_hr9ifz.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601254425/flat_750x_075_f-pad_750x1000_f8f8f8_ledbrr.jpg" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601253067/main-qimg-b1362c2db3d23c0fafa8623aa53fed75_uil40h.png" alt="">
            </div>
            <div class="skills">
                <img src="https://res.cloudinary.com/dcrioc0sw/image/upload/v1601254611/Screen_Shot_2020-09-26_at_10.48.56_PM_kjuqfc.png" alt="">
            </div>
            
        </div>
        <div class= "projectsSlides">
            <a href="https://codepen.io/nangshen16/pen/ExPppaj"></a>
            <a href="https://codepen.io/nangshen16/pen/GRoBXgz"></a>
            <a href="https://codepen.io/nangshen16/pen/MWKBPJX"></a>
            <a href="https://codepen.io/nangshen16/pen/KKVrPev"></a>
            <a href="https://codepen.io/nangshen16/pen/xxZQvMd"></a>
            
        </div>

    </div>
      <div class="footer">
          <p>@NSH - 2020</p>
          <ul>
               <li><a href="https://www.linkedin.com/in/nang-shen-hom/" target="_linkedin"><i class="fa fa-linkedin"> </i> </a></li>
               <li><a href="https://github.com/Nangshen16" target="_github"><i class="fa fa-github"></i></a></li>
               <li><a href="https://wordpress.com/view/nangshenhomcode.wordpress.com" target="_wordpress"><i class="fa fa-wordpress"></i></a></li>
          </ul>
      </div>
</body>
</html>